<!DOCTYPE html>
<html ng-app="SocialRadio">
<head>
  <title>SocialRadio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='HomeCtrl'>

<%= yield %>

</body>
</html>
